altgraph==0.17.5
argparse-addons==0.12.0
bitstruct==8.22.1
cantools==41.2.0
crccheck==1.3.1
diskcache==5.6.3
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==26.0
paramiko==3.5.1
pefile==2024.8.26
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.2
pyserial==3.5
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
python-can==4.6.1
pywin32-ctypes==0.2.3
setuptools==82.0.0
shiboken6==6.10.2
textparser==0.24.0
typing_extensions==4.15.0
wrapt==1.17.3
